body {
	color:white;
	font-size: 17px;
	font-family: 'PT Sans', 'Droid Sans', arial, sans-serif;
	margin:0;
	padding:0;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

a:link, a:visited, a:active, a:hover {
	color: #7faaff;
	text-decoration: none;
}

a:hover {
	color: #4f7acf;
}

.standardContainer {
	position: relative;
	line-height: 36px;
	min-height: 36px;
	margin: 10px;
	padding: 0 10px;
	overflow: visible;
	cursor: default;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
}

p {
	margin: 10px;
}